.landingWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landingCard {

  box-shadow: 2px 2px 10px 5px rgba(128, 128, 128, 0.247);
  height: 50%;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 0.2cm;
  padding: 4%;
  display: flex;
  justify-content: space-between;
}
